@model XYZ.InventoryManagementSystem.Web.Areas.Admin.Models.StoreViewModel.StoreIndexViewModel
@{

}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-3">
        <div id="viewAll">
            <partial name="_ViewAll" model="Model" />
        </div>
    </div>
</div>

