@model BrandIndexViewModel
@{

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header ml-3">
        <h2>Brand List Page</h2>
        <a asp-action="Create" asp-controller="Brand" asp-area="Admin" class="btn btn-info float-right mr-5 mb-2">Create New</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var brand in Model.Brands)
                {
                    <tr>
                        @{
                            var status = brand.Status ? "Active" : "Inactive";
                        }
                        <td>@brand.Name</td>
                        <td>@status</td>
                        <td>
                            <a asp-action="Edit" asp-route-Id="@brand.Id" class="btn btn-primary float-left mr-2">Edit</a>
                            <form method="post" asp-action="Delete" asp-route-id="@brand.Id">
                                <button type="submit" onclick="return confirm('Are you sure')" class="btn btn-danger">Delete</button>
                            </form>

                        </td>
                    </tr>
                }

            </tbody>

        </table>
        </div>
</div>