@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1 class="mb-2">@ViewData["Title"] Of XYZ</h1>
    <hr />
    <p>All right and reserved of this site is manage by XYZ authority</p>
    <small>If anyone do anything without our permission, we take legal action.</small>
</div>
